
body{
    overflow-x: hidden;
}
img.logo {
    width: 50px !important;
    height: 50px !important;
}
.banner-livros {
    position: relative;
    width: 100%;
    background-image: url(../Imagens/Banner-Livros.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
}










